{% extends 'base.html.twig' %}

{% block title %}Acceuil | {{ parent() }}{% endblock %}

{% block body %}
    <div class="row m-0 align-items-center" id="about">
        <div class="col-12 col-md-5 text-center p-3">
            <h5 class="mb-4">Service de nettoyage professionnel!</h5>
            <h1 class="mb-5">
                Le meilleur service de nettoyage pour entreprise ou particulier
            </h1>
            <button class="btn btn-outline-primary px-5 pt-3 pb-3">Demander un devis</button>
        </div>
        <div class="col-12 col-md-7 mb-3">
            <img src="{{ asset('build/images/home.jpg') }}" class="img img-fluid"
                 alt="Allo ménage - service de nettoyage professionnel">
        </div>
    </div>
    <div class="d-block pt-5 pb-3 bg-light">
        <div class="container-xxl" id="services">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6 mb-3">
                            <img class="img img-fluid" src="{{ asset('build/images/home cleaning.jpg') }}"
                                 alt="Nettoyage appartement, maison ou villa">
                        </div>
                        <div class="col-12 col-md-6">
                            <h2 class="text-black text-center mb-4 display-6">Nettoyage <br> <span class="text-primary">Particulier</span>
                            </h2>
                            <p class="mb-4 text-center">Chez <strong>Allo ménage</strong>, Nous offrons une large gamme
                                d'options pour vos besoins spécifiques, allant du nettoyage de base aux services de
                                nettoyage
                                complets.</p>
                            <div class="row">
                                <div class="col-6">
                                    <ul>
                                        <li>Cuisines</li>
                                        <li>Toilettes</li>
                                        <li>Chambres, salons</li>
                                        <li>Les Fenêtres</li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li>Tapis et moquettes</li>
                                        <li>Après construction</li>
                                        <li>Nettoyage saisonnier</li>
                                    </ul>
                                </div>
                                <div class="col-12 mt-3 text-center">
                                    <button class="btn btn-outline-primary p-3 px-5">Demander un devis</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 ">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6 mb-3 d-block d-md-none">
                            <img class="img img-fluid" src="{{ asset('build/images/office cleaning.jpg') }}"
                                 alt="Nettoyage pour entreprise, femme de ménage">
                        </div>
                        <div class="col-12 col-md-6">
                            <h2 class="text-black text-center mb-4 display-6">Nettoyage <br> <span class="text-primary">Entreprise</span>
                            </h2>
                            <p class="mb-4 text-center">Chez <strong>Allo ménage</strong>, nous utilisons une grande
                                variété de
                                méthodes de nettoyage,
                                de produits chimiques et d'équipements pour faciliter et accélérer le processus de
                                nettoyage.
                            </p>
                            <div class="row">
                                <div class="col-6">
                                    <ul>
                                        <li>Bureaux</li>
                                        <li>Supermarché ou Magasins</li>
                                        <li>Restaurants</li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li>Showrooms</li>
                                        <li>Entrepôts</li>
                                        <li>Aéroports</li>
                                    </ul>
                                </div>
                                <div class="col-12 mt-3 text-center">
                                    <button class="btn btn-outline-primary p-3 px-5">Demander un devis</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3 d-none d-md-block">
                            <img class="img img-fluid" src="{{ asset('build/images/office cleaning.jpg') }}"
                                 alt="Nettoyage pour entreprise, femme de ménage">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex pt-5 pb-5" id="howitworks">
        <div class="container-xxl">
            <div class="row">
                <div class="col-12 text-center mb-5">
                    <h2 class="border-bottom pb-4 display-6">Comment ca marche ?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12 text-center">
                    <span class="d-inline-flex mb-3 justify-content-center align-items-center bg-primary text-white fa-3x"
                          style="width: 80px; height: 80px; border-radius: 50%">1</span>
                    <p class="d-block mb-3 fa-2x">Contactez-nous en 60 secondes</p>
                    <p class="d-block">Nous vous mettrons en relation avec un nettoyeur expérimenté et de confiance</p>
                </div>
                <div class="col-md-4 col-12 text-center">
                    <span class="d-inline-flex mb-3 justify-content-center align-items-center bg-secondary text-white fa-3x"
                          style="width: 80px; height: 80px; border-radius: 50%">2</span>
                    <p class="d-block mb-3 fa-2x">Nettoyage avec soin avec produits écologiques</p>
                    <p class="d-block">Chaque nettoyeur est sympathique et fiable</p>
                </div>
                <div class="col-md-4 col-12 text-center">
                    <span class="d-inline-flex mb-3 justify-content-center align-items-center bg-success text-white fa-3x"
                          style="width: 80px; height: 80px; border-radius: 50%">3</span>
                    <p class="d-block mb-3 fa-2x">Profitez de la propreté autour de vous</p>
                    <p class="d-block">Inspections sur site, calendriers d'entretien périodiques et l'utilisation de contrôles de qualité conçus spécifiquement pour votre établissement</p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block pt-4 bg-success" id="testimonial">
        <div class="container-xxl">
            <div class="row">
                <div class="col-12 text-center mb-4">
                    <h2 class="text-white display-6">Témoignages</h2>
                    <div class="d-block">
                        <img src="{{ asset('build/images/h-decor.png') }}" alt="témoignages separator"
                             class="img img-fluid">
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="carouselTestimonials" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Testimonial 1"></button>
                        <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="1"
                                aria-label="Testimonial 2"></button>
                        <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="2"
                                aria-label="Testimonial 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <p class="text-center text-white mb-5 pb-5">
                                <span class="fa fa-2x fa-quote-left d-block mb-3"></span>
                                <span>L'un des meilleurs services de nettoyage. Je leur fais le plus confiance car ils fournissent un service rapide et leurs employés sont des professionnels formés qui ont la meilleure solution pour tous les besoins de nettoyage.</span>
                            </p>
                            <div class="carousel-caption d-md-block">
                                <h5 class="text-white">Client 1</h5>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <p class="text-center mb-5 pb-5 text-white">
                                <span class="fa fa-2x fa-quote-left d-block mb-3"></span>
                                <span>J'utilise le service de nettoyage <i>Allo ménage</i> depuis près d'un an et leurs performances ont été exceptionnelles.</span></p>
                            <div class="carousel-caption d-md-block">
                                <h5 class="text-white">Client 2</h5>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <p class="text-center text-white mb-5 pb-5">
                                <span class="fa fa-2x fa-quote-left d-block mb-3"></span>
                                <span>Merci</span></p>
                            <div class="carousel-caption d-md-block">
                                <h5 class="text-white">Client 3</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
