@font-face {
    font-family: 'Helvetica';
    src: url('/build/fonts/Helvetica.ttf');
}
@font-face {
    font-family: 'Helvetica-Bold';
    src: url('/build/fonts/Helvetica-Bold.ttf');
}
@font-face {
    font-family: 'Helvetica-light';
    src: url('/build/fonts/Helvetica-light.ttf');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/build/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/build/fonts/Montserrat-Bold.ttf');
}
