<div class="container-xxl pt-4 pb-4" id="contact">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h2 class="display-4">Contactez-nous</h2>
            <div class="d-block">
                <img src="{{ asset('build/images/h-decor.png') }}" alt="contact separator" class="img img-fluid">
            </div>
        </div>
        <div class="col-md-5 col-xxl-4 col-12 mb-4">
            <span class="fa-2x mb-4 d-flex">Contact</span>
            <div class="row m-0 mb-3">
                <div class="col-1 px-0 text-center">
                    <span class="fa text-secondary display-6 fa-map-marker "></span>
                </div>
                <div class="col-11">
                    <span class="d-block fa-2x">Adresse</span>
                    <span class="d-block">11 rue oukaimden<br>Rabat, Maroc</span>
                </div>
            </div>
            <div class="row m-0 align-items-center mb-3">
                <div class="col-1 px-0 text-center">
                    <span class="fa display-6 text-secondary fa-phone"></span>
                </div>
                <div class="col-11">
                    <span class="d-block fw-bold">+212 612345678</span>
                </div>
            </div>
            <div class="row m-0 align-items-center">
                <div class="col-1 px-0 text-center">
                    <span class="fa display-6 text-secondary fa-envelope"></span>
                </div>
                <div class="col-11">
                    <span class="d-block fw-bold">contact@allomenage.net</span>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-xxl-8 col-12">
            {{ form_start(contactForm) }}
            <div class="mb-3">
                {{ form_label(contactForm.nom, 'Votre nom', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(contactForm.nom, {'attr': {'class': 'form-control p-2 px-3'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(contactForm.email, 'Votre email', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(contactForm.email, {'attr': {'class': 'form-control p-2 px-3'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(contactForm.message, 'Votre message', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(contactForm.message, {'attr': {'class': 'form-control px-3', 'rows': 5}}) }}
            </div>
            {{ form_widget(contactForm.save, {'attr': {'class': 'btn btn-success p-2 px-5'}}) }}

            {{ form_end(contactForm) }}

        </div>
    </div>
</div>