$primary: #4ba0e8;
$secondary: #6fbf52;
$font-family-sans-serif:  'Helvetica', sans-serif;
$body-color: #677d8f !default;
$headings-color: #4b5b68 !default;
$navbar-default-bg: inherit !default;
$nav-link-color: rgb(65, 92, 114) !default;
$nav-link-hover-color: rgb(111, 191, 82) !default;
$nav-link-active-color: rgb(111, 191, 82) !default;
$nav-link-active-bg: transparent !default;
$nav-link-font-size: 15px;
$nav-link-font-weight: 600;
$nav-link-padding-y: 1rem !default;
$nav-link-padding-x: 1.2rem !default;
$navbar-brand-font-size: 1.75rem !default;
$navbar-brand-padding-y: 0;
$navbar-brand-padding-x: 0;
$navbar-padding-y: 0 !default;
$navbar-padding-x: 0 !default;
$navbar-brand-padding-y: 1.25rem !default;
$light: #f6faff;
$carousel-dark-indicator-active-bg: rgb(65, 92, 114);

@import "~bootstrap/scss/bootstrap";

@import "~font-awesome/css/font-awesome.min.css";

@import "styles";
