*:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit;
}
a {
  text-decoration: none;
}


.fw-bold{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 500 !important;
}
@include media-breakpoint-up(lg) {
  .nav-block{
    -webkit-box-shadow: -3px 17px 20px -28px $dark;
    box-shadow: -3px 17px 20px -28px $dark;
  }
}

