<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Allo ménage{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="description" content="">
        <meta name="robots" content="index,follow">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('fonts.css') }}">
            {{ encore_entry_link_tags('allomenage') }}
        {% endblock %}
    </head>
    <body>

    <div class="d-block mb-2 nav-block" >
        <div class="container-xxl">
            {% include 'layout/navbar.html.twig' %}
        </div>
    </div>

    {% block body %}{% endblock %}
    <div class="d-block bg-light">
        {% include 'layout/footer.html.twig' %}
    </div>
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('allomenage') }}
    {% endblock %}
</html>
