<div class="container-xxl">
    <footer class="text-center text-lg-start ">
        <section class="border-bottom">
            <div class="container text-center text-md-start pt-5">
                <div class="row ">
                    <div class="col-md-4 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <img src="{{ asset('build/images/allomenage.png') }}"
                                 alt="Allo menage - service de nettoyage" style="width:170px">
                        </h6>
                        <p>Société de service de nettoyage pour entreprise et particulier. Notre passion nous différencient des autres prestataires de services
                            de nettoyage. </p>
                    </div>

                    <div class="col-md-4 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Liens utiles</h6>
                        <p><a href="{{ path('home') }}#services" class="text-reset">Nos services</a></p>
                        <p><a href="{{ path('home') }}#howitworks" class="text-reset">Comment ça fonctionne ?</a></p>
                        <p><a href="{{ path('home') }}#testimonial" class="text-reset">Témoignage</a></p>
                    </div>
                    <div class="col-md-4 mx-auto mb-md-0 mb-4" id="contact">
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p>
                            <i class="fa fa-home me-2"></i><span>11 rue aguelman sidi ali,<br>10090 - Rabat, Maroc</span>
                        </p>
                        <p><a href="mailto:contact@allomenage.net" class="text-body"><i class="fa fa-envelope me-2"></i>contact@allomenage.net</a></p>
                        {#<p><i class="fa fa-phone me-2"></i>+2126123456789</p>#}
                    </div>

                </div>
            </div>
        </section>

        <div class="text-center p-4">
            Copyright © {{ "now" | date('Y') }}
            <a class="text-reset fw-bold" href="{{ path('home') }}">allomenage.net</a>
        </div>

    </footer>

</div>
