<nav class="navbar navbar-expand-lg">
    <div class="container-fluid p-0">
        <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('build/images/allomenage.png') }}" alt="Allo menage - service de nettoyage" style="width: 150px"><a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fs-2 fa-bars text-success"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto text-uppercase mb-3 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}#services">Nos Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}#howitworks">Comment ça fonctionne ?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}#testimonial">Témoignages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}#contact">Contact</a>
                </li>
            </ul>
            <div class="d-flex">
                <span class="fa fa-linkedin me-3"></span>
                <span class="fa fa-whatsapp me-3"></span>
                <span class="fa fa-facebook me-3"></span>
                <span class="fa fa-envelope-o"></span>
            </div>
        </div>
    </div>
</nav>
